html {
    background: url(../img/bg.jpg) center center / cover no-repeat fixed;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 1;
    transition: 1s opacity 3s ease;
    &.animate {
        opacity: 0.3;
    }
}

path {
    fill: black;
    //stroke-dashoffset is set by js then...
    stroke: black;
    stroke-width: 1;
    //..after .1s this class is added overwritting stroke-dashoffset
    &.animate {
        stroke: white;
        transition: stroke-dashoffset 2s ease, 1s fill 2s ease;
        fill: white;
        stroke-dashoffset: 0 !important;
    }
}

#site-nav {
    //flex
    flex-direction: column;
    align-items: center;
    //block
    background: black;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.img-logo {
    width: 80%;
    max-width: 480px;
    margin-top: 20px;
    svg {
        //safari support
        width: 100%;
    }
}

#social-icons {
    //flex
    justify-content: space-between;
    //box
    width: 150px;
    max-width: 100%;
    margin: 10px 0;
    .icon {
        width: 20%;
        //animation init
        transform-origin: 50% 50%;
        transform: scale(0);
        transition: transform 1s ease;
        &.animate {
            transform: scale(1);
        }
        //hover
        img {
            transition: border .2s ease;
            border-radius: 50% 50%;
        }
        &:hover img {
            border: 2px solid white;
        }
    }
}

#site-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    transition: 1s opacity 3s ease;
    opacity: 0;
    p {
        color: white;
        text-align: center;
        font-family: 'Inconsolata';
        font-size: 0.7em;
    }
    &.animate {
        opacity: 0.4;
    }
}