<!-- Custom css -->
<link href="./assets/css/shop/style.css" rel="stylesheet" />
<!-- Content -->
<!-- modal -->
<section id='modal'>
    <div id="modal-overlay"></div>
    <div id="modal-content" class="flex">
        <div id="shirt-modal"><img src="./assets/img/shirts/1.png"></div>
        <div id="text-modal">
            <p>text</p>
        </div>
    </div>
    </div>
</section>
<!-- nav -->
<nav id="site-nav" class="flex">
    <img class="img-logo" src="../assets/img/logo.svg" />
    <div id="social-icons" class="flex">
        <a class="icon" href="" target="_blank"><img src="./assets/img/icon-facebook.svg" /></a>
        <a class="icon" href="" target="_blank"><img src="./assets/img/icon-twitter.svg" /></a>
        <a class="icon" href="" target="_blank"><img src="./assets/img/icon-instagram.svg" /></a>
        <a class="icon" href="./info"><img src="./assets/img/icon-info.svg" /></a>
    </div>
</nav>
<!-- content -->
<section id="site-content">
    <div class="flex shirt-row">
        <div><img class="shirt" src="./assets/img/shirts/{{shirt._id}}.png"></div>
    </div>
</section>